h2 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 55px;
    text-transform: uppercase;
}

header,
footer {
    padding: 20px 50px;
}

header,
main .categories-block,
main .gallery-block,
main .contact-block,
footer {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    max-width: 2100px;
    width: 100%;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 15px 0;
    background-color: #b7b7b7;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.row.header {
    justify-content: space-between;
    align-self: center;
}

.row.header .menu li {
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
}

.row.header .menu li {
    position: relative;
}

.row.header .menu li:not(:last-child) {
    margin-right: 20px;
}

.row.header .menu li:last-child {
    vertical-align: middle;
}

.row.header .menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.row.header .menu > li:not(:last-child) > a:hover {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: #fcff19;
}

.row.header .menu > li:first-child > a:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.row.header .menu .submenu {
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
    width: 190px;
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fcff19;
}

.row.header .submenu li {
    display: block;
}

.row.header .submenu li a {
    display: block;
    padding: 10px;
    color: black;
    background-color: #fcff19;
}

.row.header .menu li:hover .submenu {
    display: block;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    height: 940px;
    background: url('../img/background.jpg') top center no-repeat;
    background-size: cover;
    align-content: space-between;
}

header .row:nth-child(2) {
    flex-direction: column;
    margin: auto;
    align-items: center;
}

header .row:nth-child(2) h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

header .row:nth-child(2) p {
    font-size: 28px;
    font-weight: 100;
    margin-top: 25px;
    color: #c5bfbf;
}

header .row:nth-child(2) p span {
    color: #fcff19;
}

header .row:nth-child(2) a {
    font-size: 12px;
    font-weight: bold;
    margin-top: 35px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fcff19;
    border-radius: 10px;
    background-color: black;
}

header .row:nth-child(2) + a {
    align-self: center;
}

/*MAIN*/

main .categories-block,
main .gallery-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 628px;
    background: url('../img/category_background.jpg') top center no-repeat;
    background-size: cover;
}

main .categories-block .row {
    width: 100%;
    margin: auto;
    align-self: center;
    justify-content: space-around;
}

main .categories-block .row .categories-block__item {
    position: relative;
    overflow: hidden;
}

main .categories-block .row .categories-block__item:not(:last-child) {
    margin-right: 20px;
}

main .categories-block .row .categories-block__item img {
    width: 100%;
    height: auto;
}

main .categories-block .row .categories-block__item .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
    border-right: 346px solid transparent;
    border-bottom: 291px solid rgba(252, 255, 25, 0.2);
}

main .categories-block .row .categories-block__item:hover .hover-image {
    display: block;
}

main .categories-block .row .categories-block__item .info-block {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -125px;
    text-align: center;
}

main .categories-block .row .categories-block__item .info-block h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #fcff19;
}

main .categories-block .row .categories-block__item .info-block p {
    font-size: 15px;
    margin: 20px 0;
    color: #fff;
}

main .categories-block .row .categories-block__item .action {
    position: absolute;
    top: 0;
    display: none;
    margin-top: 59%;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main .categories-block .row .categories-block__item:hover .action {
    display: flex;
}

main .categories-block .row .categories-block__item .action a {
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

main .gallery-block {
    height: auto;
    background: none;
}

main .gallery-block .row {
    max-width: 1875px;
    width: 100%;
    justify-content: space-around;
}

main .gallery-block .row .gallery-block__item:not(:last-child) {
    margin-right: 20px;
}

main .gallery-block .row .gallery-block__item img {
    max-width: 100%;
    height: auto;
}

main .gallery-block .row .gallery-block__item .price-block .row h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

main .gallery-block .row .gallery-block__item .price-block .row p {
    font-size: 15px;
    font-weight: lighter;
    color: black;
}

main .gallery-block .row .gallery-block__item .price-block {
    display: flex;
    justify-content: space-between;
}

main .gallery-block .row .gallery-block__item .price-block .row:first-child {
    width: auto;
    margin-right: 15px;
    flex-direction: column;
}

main .gallery-block .row .gallery-block__item .price-block .row:last-child {
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
}

main .gallery-block .row .gallery-block__item .price-block .row select {
    max-width: 120px;
    width: 100%;
    height: 35px;
    margin-right: 10px;
    padding: 0 5px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #cccccc;
    overflow: hidden;
    background: url("../img/option_arrow.png") no-repeat right;
    -webkit-appearance: none;
}

main .gallery-block .row .gallery-block__item .price-block .row select:focus {
    outline: none;
}

main .gallery-block .row .gallery-block__item .price-block .row a:last-child {
    max-width: 75px;
    width: 100%;
}

main .gallery-block .row .gallery-block__item .price-block .row a:last-child:hover {
    background-color: black;
    color: #fcff19;
}

main .contact-block {
    display: flex;
    height: 634px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    background: url("../img/contact_background.jpg") top center no-repeat;
    background-size: cover;
}

main .contact-block p {
    margin-top: 70px;
    font-size: 16px;
}

main .contact-block .row {
    max-width: 450px;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}

main .contact-block .row input {
    height: 40px;
}

main .contact-block .row input,
main .contact-block .row textarea {
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-style: italic;
}

main .contact-block .row input:nth-child(3) {
    font-style: normal;
}

main .contact-block .row input:focus,
main .contact-block .row textarea:focus {
    outline: none;
}

main .contact-block .row .name-block {
    display: flex;
    justify-content: space-between;
}

main .contact-block .row .name-block input {
    max-width: 210px;
    width: 100%;
}

main .contact-block .row textarea {
    resize: none;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #fcff19;
}

footer .row.header .menu .menu_item a {
    font-weight: bold;
    color: black;
}
